@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
  --gunmetal: #00313D;
  --blue: #00A5CF;
  --aqua: #9FFFCB;
  --green: #25A18E;
  --white: #FFFFFF;
  --ff:'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.logo {
  font-family: 'Bungee Shade', cursive;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat Alternates', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}