.product-card {
  display: flex;
  flex-direction: row;
  flex-flow: column-wrap;
  /* justify-content: center; */
  align-items: center;
  /* border: solid red 4px;  */
  width: 300px;
  height: 300px;
  margin-bottom: 80px;
  margin-right: 80px;
}

/* * {
  border: solid gold 4px;
} */

.product-image {
  opacity: 1;
  /* display: block; */
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  /* align-items: center; */
  /* background: #222; */
}

.product {
  display: flex;
  /* flex-direction: row; */
  /* flex-flow: column-wrap; */
  justify-content: center;
  align-items: center;
  border: solid red 4px; 
  width: 300px;
  height: 300px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  /* text-align: center; */
  /* align-content: space-between; */
  /* background-color: rgb(10, 0, 0); */
  font-size: 25px;
  /* padding: 100px; */
  /* border: solid gold 4px; */
  text-indent: 50px;
}

.middle-info {
  /* display: flex; */
  /* align-items: center; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: -30px;
  text-decoration: none; 
  color: black;
}

.product-card:hover {
  opacity: 0.5;
  background-color: black;
}

.product-card:hover .middle {
  opacity: 1;
  
}

/* .hover-name, .hover-price {
  
  color: rgb(10, 0, 0);
  font-size: 25px; */
  /* padding: 16px 32px; */
/* } */

.product-image {
  width: 300px;
} 

/* .product:hover .image {
  transform: scale(1.02); */
  /* opacity: .9; */
/* } 


.product-image {
  width: 300px;
} 

/* .product-name {
  font-size: 24px;
  padding: 10px;
} */

/* .price {
  font-size: 18px;
  padding: 10px;
} */

@media (max-width: 500px) {
  .product-card {
      width: 100%;
      margin-bottom: 60px;
  }
  .products {
      margin-left: 85px;
  }
  .sort-container {
      margin-left: 50px;
  }
  .search-form {
      margin-left: 70px;
  } 
}