.sort-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 998;
  padding-top: 150px;
}

.sort {
  margin-left: 9vw;
  width: 80px;
  padding: 7px;
  border-radius: 15rem;
  background-color: white;
  border: rgb(189, 189, 189) solid 1px;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sort:focus-within {
  width: 200px;
}

label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-right: 10px;
}

select {
  cursor:pointer;
  border: none;
  font-size: 18px;
}

@media (max-width: 500px) {
  .sort-container {
      width: 100%;
      justify-content: center;
      position: relative;
      padding-top: 10px;
  }
  .sort {
    margin: 0 auto;
  }
}