.product-edit {
  display: flex;
  padding: 100px;
  padding-top: 80px;
}

.product-edit input {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
}

.product-edit textarea {
  border: var(--aqua) solid 1px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-product-image {
  width: 500px;
  padding: 0 40px;
  padding-bottom: 5px;
}

.edit-input-image-link {
  width: 300px;  
  text-align: center;
  font-size: 20px;
}

.edit-input-image-link:focus {
  width: 100%;
  word-wrap: break-word;
}

.edit-form {
  line-height: 1.6;
}

.edit-form-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-name {
  font-size: 64px;
  letter-spacing: 1px;
  padding: 5px;
}

.textarea-description {
  font-size: 16px;
  padding: 10px;
  letter-spacing: .9px;
  line-height: 1.6;
}

.save-button {
  font-size: 22px;
  height: 40px;
  width: 200px;
  margin-top: 40px;
  background-color: var(--aqua);
  color: var(--gunmetal);
  border: none;
  /* box-shadow: 2px 2px 10px 2px #CECECE; */
  box-shadow: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6em 1em;
  border-radius: 3px;
}

@media (max-width: 500px) {
  .input-name {
      margin-left: -10px;
      padding-left: -10px;
      font-size: 26px;
  }
  .edit-form {
      padding: 0px;
  }
  .textarea-description {
      width: 100%;
      padding: 0px;
  }
  .product-edit {
      width: 100%;
      flex-direction: column;
  }
  .image-container {
      width: 100%;
  }
  .edit-product-image {
      width: 300px;
  }
}