.create-form {
  display: flex;
  flex-direction:column;
  width: 80%;
  justify-content: space-evenly;
  padding: 10px;
  margin: 4em auto;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--aqua);
  border-radius: 15px;
  box-shadow: 12px 12px 15px 5px #686868;
}

.input-add{
  display: flex;
  flex-direction: column;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

input, textarea { 
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
} 

textarea {
  font-size: 24px;
  font-family:var(--ff); 
}

.input-name {
  font-size: 48px;
  font-family: var(--ff);
}

.input-condition, .input-price, .input-image-link, .textarea-details, .input-contact-info {
  font-size: 24px;
  font-family: var(--ff);
}

.submit-button {
  font-size: 22px;
  font-family: var(--ff);
  width: 200px;
  margin: 40px;
  background-color: var(--aqua);
  color: var(--gunmetal);
  border: none;
  box-shadow: 2px 2px 10px 2px #CECECE;
  border-radius: 15px;
  cursor: pointer;
}

.add-product{
  text-align:center;
}

@media (max-width: 500px) {
  .create-form {
      padding-top: 150px;
  }
  
  input, textarea {
      font-size: 28px;
  }
}