@media (max-width: 500px) {
  .home {
      padding: 100px 40px;
  }
}

.home-logo {
  font-family: 'Bungee Shade', cursive;
}

.home-products {
  font-family: 'Bungee Inline', cursive;
}

.home-sign-in {
  font-family: 'Bungee', cursive;
}

.home-sign-up {
  font-family: 'Bungee Outline', cursive;
}