
:root {
  --t: 200ms;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua);
  flex: 2;
  height: 100vh;
  background-image: url(https://i.imgur.com/NxjobHv.png);
  background-repeat: no-repeat;
  background-size:100vw 100vh;
}

.home-logo {
  font-family: 'Bungee Shade', cursive;
  font-size: 5vw;
  color: var(--gunmetal);
  transition: var(--t) all;
}

@media (max-width: 1200px) {
  .home-logo {
    font-size: 10vw;
  }
}

.home-products {
  font-family: 'Bungee Inline', cursive;
  font-size: 48px;
  color: var(--gunmetal);
  transition: var(--t) all;
  margin: 3rem 0;
}

.home-products:hover {
  transform: scale(1.2);
}

.home-sign-in {
  font-family: 'Bungee', cursive;
  font-size: 36px;
  color: var(--gunmetal);
  transition: var(--t) all;
}

.home-sign-in:hover {
  transform: scale(1.2);
}

.home-sign-up {
  font-family: 'Bungee Outline', cursive;
  font-size: 36px;
  color: var(--gunmetal);
  transition: var(--t) all;
}

.home-sign-up:hover {
  transform: scale(1.2);
  text-shadow: 1px 1px 2px var(--gunmetal);
}

@media only screen and (max-width:700px){
  .home{
    background-image: none;
  }
}

@media (max-width: 500px) {
  .home {
      padding: 0 40px;
  }
  .home-logo {
    font-size: 42px;
    color: var(--gunmetal);
    transition: none;
  }
  .home-sign-up,
  .home-sign-in {
    font-size: 24px;
    color: var(--gunmetal);
    transition: none;
  }
  .home-products {
    font-size: 38px;
    color: var(--gunmetal);
    transition: none;
    /* margin: 3rem 0; */
  }
}