:root {
    --ifw: 425px;
    --bh: -230px;
}

/* * {
  border: Highlight solid 3px;
} */

.carousel {
    width: var(--ifw);
    /* overflow: hidden; */
}

.carousel__slider {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width: var(--ifw);
}

.carousel__slider-tray-wrapper {
    width: fit-content;
}

.carousel__slider-tray {
    /* background-color: lightgreen; */
}

.carousel__slide {
    /* background-color: lightcoral; */
    /* width: 425px; */
    /* overflow: hidden;   */
}

.carousel__inner-slide {
    /* background-color: lightcyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--ifw);
}

.carousel__inner-slide img {
    width: var(--ifw);
    overflow: hidden;
}

.carousel__slide-focus-ring {
  outline: none;
}

.carousel-buttons {
  visibility: hidden;
}

.carousel button {
  transition: all 0s;
}

.carousel:hover .carousel-buttons{
  visibility: visible;
}


/* .carousel-buttons:hover {
  visibility: visible;
  border: black 3px solid;
} */

.carousel__back-button {
  position: relative;
  top: -230px;
}

.carousel__next-button {
  position: relative;
  top: -230px;
  left: 285px;
}