:root {
  --ifw: 425px;
  --bh: -230px;
}

.carousel-main {
  height: var(--ifw);
}

.carousel__slider {
  display: flex;
  flex-direction: column;
  width: var(--ifw);
}

.carousel__slider-tray-wrapper {
  width: fit-content;
}

.carousel__inner-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--ifw);
  height: var(--ifw);
}

.carousel__inner-slide img {
  display: block;
  max-width: var(--ifw);
  max-height: var(--ifw);
  width: auto;
  height: auto;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-dots button {
  border: none;
  padding: 0;
  margin: 10px;
}

.carousel-dot-img {
  display: block;
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
}

.carousel__dot img {
  border: white solid 3px;
}

.carousel__dot--selected img {
  border: var(--gunmetal) solid 3px;
}

.carousel__slide-focus-ring {
  outline: none;
}

.carousel-buttons {
  visibility: hidden;
}

.carousel button {
  background-color: var(--aqua);
  transition: all 0s;
}

.carousel-main:hover .carousel-buttons {
  visibility: visible;
}

.carousel__next-button,
.carousel__back-button {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.carousel__back-button {
  position: relative;
  top: -230px;
}

.carousel__next-button {
  position: relative;
  top: -230px;
  left: 345px;
}