@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");

nav {
  flex: 1;
  position: fixed;
  width: 100%;
  background-color: var(--gunmetal);
  z-index: 1;
  top: 0;
  left: 0;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 0;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  /* width: 100%; */
}

.logo {
  font-family: "Kalam", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: -3px;
  flex: 1;
  max-width: 30vw;
  transition: 250ms all;
  color: var(--aqua);
  padding: 10px;
}

.logo:hover {
  transform: scale(1.004);
}

.links {
  flex: 2;
  max-width: 60vw;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.links a {
  text-decoration: none;
  color: var(--white);
}

.link {
  flex: 1;
}

.welcome {
  padding: 0 100px;
  color: white;
}

@media (max-width: 500px) {
  nav {
    width: 100%;
  }
  .logo {
    max-width: 50%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: flex-end;
  }
}
.bars{
  width: 24px;
  height: 24px;
  padding: 2px;
  display: none;
}

@media screen and (max-width: 425px) {
  .nav {
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
  }
  .bars{
    display: block;
    padding: 5px;
  }
  .links{
    display: none;
    flex-direction:column;
    text-align: right;
  }
}
